@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --high-priority-color: #dc262690;
  --medium-priority-color: #eab30890;
  --low-priority-color: #22c55e90;

  /* --high-priority-color-opaque: #dc2626;
  --medium-priority-color-opaque: #eab308;
  --low-priority-color-opaque: #22c55e; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Inter Tight", sans-serif;
}

.logo {
  font-weight: 600;
}

header {
  padding: 10px 20px;
  background-color: #0c4a6e;
  color: white;
  height: 6%;
}

.main {
  height: 94%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.left-panel,
.main-tabs,
.projects-list-container,
.projects-list {
  display: flex;
  flex-direction: column;
}

.left-panel {
  padding: 30px 20px;
  background-color: #e0f2fe;
  justify-content: space-between;
}

.main-tabs,
.projects-list-container,
.projects-list {
  gap: 15px;
}

.tab {
  cursor: pointer;
  font-size: 22px;
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  /* display: block; */
}

.projects-list-container .top {
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.left-panel .top h2 {
  font-weight: 600;
}

button.new-project-btn {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 24px;
  width: 30px;
  height: 30px;

  background-color: unset;
  outline: unset;
  border: none;
  font-size: 28px;
}

button.new-project-btn:hover {
  background-color: #0c4a6e;
  color: white;
}

.project,
.buttons-div {
  display: flex;
  justify-content: space-between;
}

.project {
  padding: 10px;
}

.buttons-div {
  gap: 5px;
}

.buttons-div button {
  width: 20px;
}

.tab:hover {
  color: #0c4a6e;
}

/* ----------------------- */

.content {
  padding: 40px;
}

.content .top {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: center;
}

.new-task-btn {
  padding: 5px;
  font-size: 18px;
}

.tasks-container {
  margin-top: 10px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.task {
  padding: 10px;
  border: 1px solid rgb(185, 185, 185);
  display: flex;
  flex-flow: column;
  font-size: 18px;
  gap: 10px;
  border-left: 10px solid rgb(185, 185, 185);
}

.task .basic {
  display: grid;
  grid-template-columns: 0.2fr 10fr 1fr 1.5fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
  gap: 15px;
}

.task button.go-to-project {
  border: 1px solid rgb(50, 50, 50);
  padding: 5px 20px;
  border-radius: 50px;
  text-align: center;
  color: rgb(50, 50, 50);
  background-color: white;
  font-size: 18px;
}

.task .dueDate {
  text-align: center;
}

.task .dueDate.expired {
  color: red;
}

.task .details {
  border-top: 1px solid gray;
  padding: 10px 5px;
  padding-bottom: 0;
}

.view-task-btn,
.edit-task-btn,
.delete-task-btn {
  font-size: 16px;
  width: 60px;
  padding: 5px;
}

.task input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
  color: gray;
}

.task input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

/* ---------------- */

dialog {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 4px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

dialog .top {
  display: flex;
  justify-content: space-between;
  background-color: #0c4a6e;
  color: white;
  padding: 10px 15px;
}

.close-btn {
  border: none;
  outline: none;
  background-color: unset;
  font-size: 20px;
  color: white;
}

.modal-content {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

form {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 15px;
  font-size: 20px;
}

button[type="submit"] {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  align-self: flex-end;
  background-color: #0c4a6e;
  color: white;
  border: none;
}

input,
textarea,
select {
  padding: 10px;
  font-size: 18px;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
  display: flex;
  gap: 10px;
}

legend {
  margin-bottom: 20px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] ~ label {
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px 10px;
}

input[type="radio"]:checked ~ label {
  color: white;
  background-color: gray;
}
